/* CSS for website */

.book.font-family-1 {
    font-family: Roboto !important;
}

nav{
    font-family: Roboto !important;
}

body{
    font-family: Roboto !important;
    text-align: justify !important;
    text-justify: inter-word;    
}

h1 {
font-family: Roboto;
color: rgb(1, 75, 179);
font-size: 36pt !important;
font-weight: normal;
text-align: left !important;
}

h2 {
font-family: Roboto;
color: rgb(0, 191, 195);
font-size: 30pt !important;
font-weight: normal;
text-align: left !important;
}

h3 {
font-family: Roboto;
color: rgb(0, 191, 195);
font-size: 24pt !important;
font-weight: normal;
text-align: left !important;
}

h4 {
font-family: Roboto;
color: rgb(1, 75, 179);
font-size: 24pt;
font-weight: normal;
text-align: left !important;
}

h5 {
font-family: Roboto;
font-size: 24pt;
color: rgb(0, 191, 195);
font-style: italic;
font-weight: bold;
text-align: left !important;
}

h6 {
font-family: Roboto;
font-size: 18pt;
font-weight: bold;
}

table, th, td {
   border: 1px solid rgb(0, 185, 180);
}


tr:nth-child(even){background-color: rgb(183, 255, 253);}

tr:hover {background-color: rgb(5, 255, 249);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 185, 180);
    color: white;
}
